@import url("./styles/header.css");
@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");

:root {
  --color-white: #ffffff;
  --color-yellow: #ffc000;
  --color-blue: #2946d7;
  --color-gray: #f2f2f2;
  --color-gborder: #333333;
  --color-gray-dark: #555555;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inder", sans-serif;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "sidebar header header header header"
    "sidebar projects projects projects announcements"
    "sidebar projects projects projects announcements"
    "sidebar projects projects projects trending"
    "sidebar projects projects projects trending";
  grid-template-columns: 0.8fr 1fr 1fr 1fr 0.8fr;
  /* this can adjust the size of each grid */
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 0 1rem;
}

.dashboard {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0px;
}

.dashboard img {
  width: 30px;
  height: 30px;
  filter: invert(99%) sepia(100%) saturate(1%) hue-rotate(254deg)
    brightness(107%) contrast(100%);
}

.dashboard h1 {
  font-size: 1rem;
}

.sidebar p {
  font-size: 0.8rem;
}

/* Navigation ---------------------------- */

nav {
  display: flex;
  flex-direction: column;
}

a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 5px;
  text-decoration: none;
  width: fit-content;
}

nav img {
  width: 20px;
  height: 20px;
  filter: invert(99%) sepia(100%) saturate(1%) hue-rotate(254deg)
    brightness(107%) contrast(100%);
}

a p {
  font-size: 1rem;
  color: #fff;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 7px 0;
}

.settings {
  margin: 50px 0 10px;
}

/* PROJECTS -------------------------------------------------------------------*/
.projects {
  grid-area: projects;
  background-color: var(--color-gray);
}

/* ANNOUNCEMENTS -------------------------------------------------------------------*/
.announcements {
  grid-area: announcements;
  background-color: var(--color-gray);
}

/* TRENDING -------------------------------------------------------------------*/
.trending {
  grid-area: trending;
  background-color: var(--color-gray);
}

/* LANDING PAGE -------------------------------------------------------------------*/
.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f2f2f2;
}

.landing img {
  width: 80%;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 var(--color-dark);
}

.sorry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Olu styles */

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.project-grid > div {
  background-color: #ffc000;
  border-radius: 10px 10px 10px 10px;
  gap: 10px;
}

.project-grid > div > div {
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  padding: 20px;
  margin-left: 5px;
  height: 135px;
  box-shadow: 0 0 20px 0 var(--color-dark);
}

.project-grid > div > div > h5 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: bolder;
}

.project-grid > div > div > p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #555555;
}

.project-grid > div {
  position: relative;
  height: 100%;
  width: 100%;
}

.share {
  position: absolute;
  right: 20px;
  bottom: 15px;
}

.eye {
  position: absolute;
  right: 60px;
  bottom: 15px;
}

.star {
  position: absolute;
  right: 100px;
  bottom: 15px;
}

/* Announcement Structure */
.announcements {
  display: grid;
  grid-template: 0.1fr 2fr / 1fr;
  grid-gap: 8px;
  padding: 1rem;
}

.announcements > div:first-child {
  height: fit-content;
}

.announcements > div:last-child {
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 1px 1px 5px -3px var(--color-gborder);
}

/* Announcement Content */
.announcements > div:last-child {
  padding: 1.2rem;
}

.announcements h4 {
  font-size: 0.7rem;
  margin: 0 auto;
}

.announcements p {
  font-size: 0.6rem;
  margin: 0 auto;
}

/* Trending Structure */
.trending {
  display: grid;
  grid-template: 0.1fr 2fr / 1fr;
  grid-gap: 8px;
  padding: 1rem;
  align-items: center;
}

.trending > div:first-child {
  height: fit-content;
}

.trending > div:last-child {
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 1px 1px 5px -3px var(--color-gborder);
}

/* Trending Icons */
.user-profiles {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  align-self: start;
}

.user-profiles img {
  width: 40px;
  height: 40px;
}

.user-profiles > li {
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  gap: 12px;
}

.user-profiles > li > p {
  font-size: 0.6rem;
  width: fit-content;
}

.icon-user {
  font-weight: bold;
}
