.header {
  grid-area: header;
  background-color: var(--white);
  border-bottom: 2px #888888 solid;
  /* box-shadow: 2px 2px #888888; */
  padding-bottom: 5px 5px;
  /* margin: 1em 1em; */
}
