button {
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 50px;
  font-size: 0.875rem;
  width: 12rem;
  height: 2.1rem;
  margin: 0.2rem;
  border: none;
}
input {
  width: 90%;
  background-color: var(--color-gray);
  border-radius: 15px;
  border: 0;
  font-size: 1.625rem;
}

img {
  border-radius: 50px;  
}
.header {
  font-family: 'Inder', 'Verdana' ;
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
  border-bottom: 2px #888888 solid ;
  padding: 1.2rem;
}
.head-area-top-left {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-around;
}
.head-area-top-right {
  display: flex; 
  align-items: center;
  justify-content: flex-end; 
   width: 50%;
}
.head-area-bottom-left {
  display: flex;
  width: 50%;
  align-items: center;
}
.notification {
  width: 24px;
  margin: 0 1.5em;
}
.profile_img_sm {
  width: 42px;
  margin: 0 1.5em;
}
.head-area-bottom-right {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
}
.profile_name_sm { 
  font-size: 5hw;
  font-weight: 600;
}
.profile_img_lg {
  width: 70px;
  height: 70px;
  margin-right: 1.5em; 
}
img + div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.messages {
  width: 80%;
} 
.grettins-msg {
  font-size: 14px;
}
.grettins-user {
  font-size: 1.5rem;
  font-weight: 600;
}


/* @media screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }
  .header {
    display: none;
  }



  .header {
    padding: 15px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .header > div {
    width: 100%;
    padding: 0.5rem;;
  }  

  .profile_img_lg {
    width: 20%;
    height: auto;
    margin-right: 1.0em; 
  }
  .notification {
    width: 22px;
    margin: 0;
  }
  .head-area-top-right {
    justify-content: flex-start;
    margin: 0px 0px;
    padding: 0px 0px;
  }

  .head-area-top-right{
    display: none;
  }

  .grettins-user {
    font-size: 1rem;
    font-weight: 600;
  }


} */